# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

msal

azure-functions
azure-functions-durable

azure-identity
azure-mgmt-authorization
azure-mgmt-resourcegraph

azure-mgmt-managementgroups
azure-mgmt-subscription

azure-storage-blob
azure-mgmt-monitor

azure-mgmt-web

azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-network

# azure-mgmt-containerservice
# azure-mgmt-containerinstance
# azure-mgmt-compute
# azure-mgmt-sql
# azure-servicebus
# azure-keyvault-secrets